


@media(min-width: 481px) and (max-width: 1024px) {
    /* header responsivo */
    header {
        display: none;
        flex-direction: none;
        height: 400px;
        justify-content: center;
        width: 100%;
    }

    #menu-dropdown2 {
        background-color: #8A77E6;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
    }

    #menu-dropdown2 a,
    .dropbtn2 {
        display: block;
        text-align: center;
        text-decoration: none;
    }

    #menu-dropdown2 .dropdown-content2 {
        display: none;
        background-color: #AC9CFC;
        position: absolute;
        width: 360px;
        height: 755px;
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    #menu-dropdown2 .dropdown2:hover .dropdown-content2 {
        display: block;
    }

    .dropdown-content2 {
        font-family: 'semi-bold';
        font-size: 25px;
    }

    #btn-entrar2 {
        background-color: #8A77E6;
        color: #fff;
        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
        text-align: center;
        border-radius: 10px;
        margin: 20px 85px;
        border: 1px solid black;
        padding: 10px 0px;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
    }

    #btn-entrar2:hover {
        background-color: #2ED88C;
        color: black;
        text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
        border: 1px solid white;
    }

    #cadastro {
        color: black;
        text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
        margin: 15px 0px 0px 0px;
    }

    #pai2 {
        display: flex;
        justify-content: baseline;
    }

    #ou2 {
        width: 50px;
    }

    .hr2 {
        width: 100%;
        margin: 5px 25px;
    }

    .hr2 hr {
        border: solid 1px #7E46CF;
        opacity: 50%;
    }

    .efeito-legal:hover {
        font-size: 24px;
        color: #60f6b2;
        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    }

    #perfil-foto2 {
        width: 100px;
        padding: 10px;
        padding-right: 60px;
        padding-top: 20px;
    }

    #carrinho2 {
        width: 110px;
        padding: 10px;
        padding-left: 60px;
        padding-top: 20px;
    }

    #topo-dropdown {
        display: flex;
        justify-content: center;
    }

    #header-responsivo {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    #logo-header2 {
        width: 350px;
        margin: 0px 50px;
        display: flex;
    }

    #nav2 {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }

    #menu-responsive {
        margin-top: 60px;
        width: 60px;
        margin-left: 50px;
    }

    #perfil2 {
        display: flex;
    }

    #mini-nav {
        display: flex;
        flex-direction: column;
    }

    #mini-nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 30px;
        padding: 10px 0px 20px 40px;
    }

    #nav a {
        display: none;
    }

    #carrinho {
        display: none;
    }

    header nav {
        display: none;
    }

    #perfil {
        display: none;
    }

    .dropbtn2 {
        display: flex;
    }

/* header responsivo */
/*-------------------------------------------------------*/
/* Estilos index - Tablet */

#gif {
    display: none;
}

#gif-mobile {
    display: block;
    width: 700px;
    margin: 30px auto;
}

#texto-linha {
    font-size: 35px;
    padding: 40px 60px;
    margin: 0;
}
#btn-agendamento {
    margin: 70px 60px 70px 10px;
    font-size: 40px;
}

#g5 {
    margin-left: 40px;
    margin-bottom: 40px;
    width: 150px;
    height: 160px;
    border-radius: 30px;
}

#colum2 {
    margin-left: 10px;
}

#g4 {
    margin-left: 40px;
    margin-top: 50px;
    width: 200px;
    height: 210px;
    border-radius: 40px;
}

#c3 {
    margin-left: 80px;
    width: 130px;
    height: 140px;
    border-radius: 30px;
}
#c1 {
    margin-bottom: 70px;
    width: 250px;
    height: 260px;
    border-radius: 40px;
}

#c2 {
    width: 180px;
    height: 190px;
    border-radius: 40px;
}

#objetivo {
    margin: 20px 30px 20px 20px;
}
#objetivo p {
    font-size: 25px;
}
.h2-home {
    font-size: 45px;
}

#btn-saiba {
    font-size: 30px;
}

#produtos-p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 20px;
}
.produtos {
    margin: auto;
    padding: 10px 10px 190px 10px;
}

.conteudo {
    font-size: 20px;
}

#promoçoes {
    padding-bottom: 140px;
    margin-bottom: 30px;
}
footer p {
    font-size: 25px;
}

/* Estilos index - Tablet */
/*-------------------------------------------------------*/
/* Estilos Sobre - Tablet*/

#sobre-nos {
    margin: 50px 60px;
}

#historia p {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 20px;
}
#fotoveteninario {
    margin-right: 15px;
}

#funcionarios {
    display: flex;
    flex-direction: column;
}

.paragrafo-funcionarios {
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.box-funcionario {
    margin: 30px 180px;
    padding-bottom: 100px;
}

.box-funcionario img {
    height: 280px;
}
#nossos-servicos {
    display: flex;
    flex-direction: column;
}

#tosa {
    display: flex;
    flex-direction: row-reverse;
}

.box-servicos {
    display: flex;
    flex-direction: row;
}

.box-servicos p {
    padding-left: 10px;
}

.box-servicos img {
    width: 300px;
    height: 300px;
}

.servico-h2 {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 100px;
}

#h2-tosa {
    text-align: right;
    margin-right: 10px;
}

#p-tosa {
    text-align: right;
    padding-right: 10px;
}

#tabela {
    width: 767px;
}

#btn-agende p {
    font-size: 20px;
    padding: 30px 10px 30px 40px;
}

#botao-agende {
    margin: 20px 20px;
}

/* Estilos Sobre - Tablet*/
/*-------------------------------------------------------*/
/* Estilos Agendamento - Tablet */



/* Estilos Agendamento - Tablet */
/*-------------------------------------------------------*/
/* Estilos Contato - Tablet */

.fale-conosco {
    margin: auto;
}
.p-contato {
    margin: 10px;
}

#form-contato {
    margin: auto;
}

/* Estilos Contato - Tablet */
/*-------------------------------------------------------*/
/* Estilos Dados - Tablet */

#topo-dados {
    margin: 20px 30px;
}

#graficosc3 {
    display: flex;
    flex-direction: column;
}

#graficospl {
    display: flex;
    flex-direction: column;
}

#div-grafico-c {
    margin: auto;
    margin-bottom: 100px;
}

#div-3d {
    margin: auto;
}

#grafico-pontinho {
    margin: auto;
}

#grafico-linhas {
    margin: auto;
}

/* Estilos Dados - Tablet */
/*-------------------------------------------------------*/
/* Estilos Entrar - Tablet */


#gato {
    width: 470px;
}
.input {
    margin: 27px 0;
}

/* Estilos Entrar - Tablet */
/*-------------------------------------------------------*/
/* Estilos Cadastro - Tablet */

#cachorro {
    width: 470px;

}

/* Estilos Cadastro - Tablet */
/*-------------------------------------------------------*/
/* Estilos Agendamento - Tablet */

#img-dog {
    width: 99%;
}

#agendamento-container {
    margin: auto;
    padding: 0;
    padding-bottom: 20px;
}

/* Estilos Agendamento - Tablet */
/*-------------------------------------------------------*/
}



@media(max-width: 480px) {
   
   /* header responsivo */
    header {
        display: none;
        flex-direction: none;
        height: 400px;
        justify-content: center;
        width: 100%;
    }

    #menu-dropdown2 {
        background-color: #8A77E6;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
    }

    #menu-dropdown2 a,
    .dropbtn2 {
        display: block;
        text-align: center;
        text-decoration: none;
    }

    #menu-dropdown2 .dropdown-content2 {
        display: none;
        background-color: #AC9CFC;
        position: absolute;
        width: 300px;
        height: 755px;
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    #menu-dropdown2 .dropdown2:hover .dropdown-content2 {
        display: block;
    }

    .dropdown-content2 {
        font-family: 'semi-bold';
        font-size: 20px;
    }

    #btn-entrar2 {
        background-color: #8A77E6;
        color: #fff;
        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
        text-align: center;
        border-radius: 10px;
        margin: 20px 85px;
        border: 1px solid black;
        padding: 10px 0px;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
    }

    #btn-entrar2:hover {
        background-color: #2ED88C;
        color: black;
        text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
        border: 1px solid white;
    }

    #cadastro {
        color: black;
        text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
        margin: 15px 0px 0px 0px;
    }

    #pai2 {
        display: flex;
        justify-content: baseline;
    }

    #ou2 {
        width: 50px;
    }

    .hr2 {
        width: 100%;
        margin: 5px 25px;
    }

    .hr2 hr {
        border: solid 1px #7E46CF;
        opacity: 50%;
    }

    .efeito-legal:hover {
        font-size: 24px;
        color: #60f6b2;
        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    }

    #perfil-foto2 {
        width: 70px;
        padding: 10px;
        padding-right: 60px;
        padding-top: 20px;
    }

    #carrinho2 {
        width: 80px;
        padding: 10px;
        padding-left: 60px;
        padding-top: 20px;
    }

    #topo-dropdown {
        display: flex;
        justify-content: center;
    }

    #header-responsivo {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    #logo-header2 {
        width: 180px;
        margin: 0px 50px;
        display: flex;
    }

    #nav2 {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }

    #menu {
        margin-top: 31px;
        width: 40px;
        margin-left: 30px;
    }

    #perfil2 {
        display: flex;
    }

    #mini-nav {
        display: flex;
        flex-direction: column;
    }

    #mini-nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 25px;
        padding: 10px 0px 20px 40px;
    }

    #nav a {
        display: none;
    }

    #carrinho {
        display: none;
    }

    header nav {
        display: none;
    }

    #perfil {
        display: none;
    }

    .dropbtn2 {
        display: flex;
    }

    #menu-responsive {
        display: flex;
        width: 40px;
        margin-top: 30px;
        margin-left: 35px;
    }

/* header responsivo */
/*-------------------------------------------------------*/
/* Estilos index - Celular */

#gif {
    display: none;
}

#gif-mobile {
    display: block;
    width: 350px;
    margin: 30px auto;
}

#texto-linha {
    font-size: 15px;
    padding: 20px 20px;
    margin: 0;
}
#btn-agendamento {
    margin: 30px 30px 30px 10px;
    font-size: 20px;
}

#g5 {
    margin-left: 30px;
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#colum2 {
    margin-left: 0;
}

#g4 {
    margin-left: 10px;
    margin-top: 0px;
    width: 90px;
    height: 100px;
    border-radius: 20px;
}

#c3 {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 15px;
    width: 70px;
    height: 80px;
    border-radius: 15px;
}
#c1 {
    margin-bottom: 15px;
    margin-top: 10px;
    width: 120px;
    height: 130px;
    border-radius: 25px;
}

#c2 {
    width: 80px;
    height: 90px;
    border-radius: 20px;
    margin-left: 10px;
}

#objetivo {
    margin: 10px 15px 10px 5px;
}
#objetivo p {
    font-size: 15px;
}
.h2-home {
    font-size: 16px;
}

#btn-saiba {
    font-size: 10px;
    margin-top: 20px;
}

#produtos-p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 10px;

}
.produtos {
    margin: auto;
    padding: 10px 5px 0px 5px;
    border: 10px solid #7f1eff;
}

.conteudo {
    font-size: 10px;
}

.img-produtos {
    width: 90px;
    height: 90px;
}

.preço {
    font-size: 15px;
}

#promoçoes {
    padding-bottom: 0px;
    margin-bottom: 30px;
}
footer p {
    font-size: 13px;
}

/* Estilos index - Celular */
/*-------------------------------------------------------*/
/* Estilos Sobre - Celular */

#sobre-nos {
    margin: 20px 30px;
}

#pequeno {
    font-size: 10px;
}

#container-sobre .sobre-h1 {
    font-size: 20px;
}

.hr-historia {
    border: solid 2px #7E46CF;
}

#historia p {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 20px;
    font-size: 11px;
}
#fotoveteninario {
    margin-right: 15px;
    width: 130px;
    height: 130px;
    border-radius: 5px;
}

#funcionarios {
    display: flex;
    flex-direction: column;
}

#topo-funcionarios h1 {
    font-size: 20px;
}

h4 {
    font-size: 12px;
}

.paragrafo-funcionarios {
    text-align: center;
    margin: auto;
    font-size: 18px;
}

.box-funcionario {
    margin: 30px 30px;
    padding-bottom: 50px;
}

.box-funcionario img {
    height: 180px;
}
#nossos-servicos {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 25px;
}

#topo-servicos p {
    font-size: 16px;
}

#tosa {
    display: flex;
    flex-direction: row-reverse;
}

.box-servicos {
    display: flex;
    flex-direction: row;
}

.box-servicos p {
    padding-left: 10px;
    font-size: 12px;
    padding-right: 20px;
}

.box-servicos img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.servico-h2 {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.box-servicos .servico-h2 {
    font-size: 20px;
}
#h2-tosa {
    text-align: right;
    margin-right: 10px;
}

#p-tosa {
    text-align: right;
    padding-right: 10px;
}

#tabela {
    width: 370px;
}

#btn-agende p {
    font-size: 15px;
    padding: 30px 10px 30px 20px;
}

#botao-agende {
    margin: 30px 10px;
}


/* Estilos Sobre - Celular */
/*-------------------------------------------------------*/
/* Estilos Agendamento - Celular */



/* Estilos Agendamento - Celular */
/*-------------------------------------------------------*/
/* Estilos Contato - Celular */

.fale-conosco {
    margin: auto;
}
.p-contato {
    margin: 10px;
}

#form-contato {
    margin: auto;
}

#dados-contato {
    margin: auto;
    width: 90%;
}

#contato-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mapa {
    margin: 20px auto;
}

/* Estilos Contato - Celular */
/*-------------------------------------------------------*/
/* Estilos Dados - Celular */

#topo-dados {
    margin: 25px 30px;
}

#conteudo-dados p {
    font-size: 13px;
}

h1 {
    font-size: 20px;
}

#graficosc3 {
    display: flex;
    flex-direction: column;
}

#graficospl {
    display: flex;
    flex-direction: column;
}

#div-grafico-c {
    margin: auto;
    margin-bottom: 100px;
    width: 90%;
    padding: 0;
}

#div-3d {
    margin: auto;
    width: 90%;
}

#grafico-pontinho {
    margin: auto;
    width: 90%;
}

#grafico-linhas {
    margin: auto;
    width: 90%;
}

/* Estilos Dados - Celular */
/*-------------------------------------------------------*/
/* Estilos Entrar - Celular */

#gato {
    width: 200px;
}
.input {
    margin: 27px 0;
}
/* Estilos Entrar - Celular */
/*-------------------------------------------------------*/
/* Estilos Cadastro - Celular */

#cachorro {
    display: none;
}

/* Estilos Cadastro - Celular */
/*-------------------------------------------------------*/
/* Estilos Agendamento - Celular */

#img-dog {
    width: 99%;
}

#agendamento-container {
    margin: auto;
    padding: 0;
    padding-bottom: 20px;
}
#frm-container select, .p-agendamento {
    width: 140px;
    height: 40px;
    margin: 5px 0px;
}

label {
    font-size: 13px;
}

.p-ponto {
    width: 180px;
    height: 48.99px;
    margin: 18px 0px;
}

.frm-msg {

    padding: 5px;
    resize: none;
    height: 40px;
    width: 140px;
    font-family: 'conteudo';
    font-size: small;
}

#seu-agendamento {
    font-size: 23px;
    margin: 50px auto 20px auto;
}

/* Estilos Agendamento - Celular */
/*-------------------------------------------------------*/
}